
html{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    color: #565a5c;
    overflow-x: hidden;
}

@font-face {
    src: url('../fonts/timesbd.ttf');
    font-family: 'timesbd', sans-serif;
}


a {
    color: #999;
    text-decoration: none;
}


p{
    margin: 0;
}

ul{
    padding: 0;
}


/*///////////////////////////////////////////////////////////////////////////////////////////
                                    Slider section
//////////////////////////////////////////////////////////////////////////////////////////*/

#slider-section{
    position: relative;
}

.top-header{
    background-color: #021b27;
    border: none;
    padding: 10px;
    width: 40%;
    max-width: 100%;
    margin: 0 0 0 auto;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
}


.top-header ul li:not(first-child){
    list-style: none;
    display: inline-block;
    margin-right: 10px;

}


.top-header > p a{
    margin-right: 10px;
    color: #fff;

}

.custom-nav{
    background-color: rgba(255, 116, 0, 0.15);
    border: none;
    margin-bottom: 0;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 6.5%;
}

.navbar-default .navbar-nav>li>a{
    font-size: 17px;
    min-height: 55px;
    line-height: 55px;
    color: #00188f;

}

.navbar-default .navbar-nav>li>a:hover{
    color: #fff;
}

.custom-navbar-brand{
    padding: 5px!important;
}



/*//////////////Custom Owl Carousel///////*/


.owl-carousel {
    position: relative;
    height: 100vh;
}
.owl-carousel div:not(.owl-controls) {
    height: 100%;
}
.owl-carousel .owl-slide {
    background-image: url("../img/hero-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.owl-carousel div.owl--text {
    position: absolute;
    bottom: 0;
    /* left: 2em; */
    width: 75%;
    height: 15em;
    padding: 1em 3em;
    background: rgba(25, 46, 58, 0.47);
    border-radius: 4px;
    color: #fff;
}
/*.owl-carousel .owl-controls {*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 0;*/
    /*right: 0;*/
/*}*/
/*.owl-carousel .owl-controls .owl-buttons div {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*display: inline-block;*/
    /*zoom: 1;*/
    /*margin: 0;*/
    /*width: 50px;*/
    /*height: 30px;*/
    /*line-height: 25px;*/
    /*text-align: center;*/
    /*font-size: .9em;*/
    /*border-radius: 3px;*/
    /*color: #FFF;*/
    /*background: #000;*/
    /*opacity: .6;*/
    /*text-transform: capitalize;*/
/*}*/
/*.owl-carousel .owl-controls .owl-buttons .owl-prev {*/
    /*left: 5px;*/
/*}*/
/*.owl-carousel .owl-controls .owl-buttons .owl-next {*/
    /*right: 5px;*/
/*}*/


.title{
    font-family: 'timesbd', sans-serif;
    position: relative;
}


.title::after{
    display: block;
    margin: 10px 0;
    width: 10%;
    height: 4px;
    background-color: #3dcd4b;
    background-color: #FF7300;
    content: '';
    line-height: 0;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    position: absolute;
}


.title-right::after{
    right: 0;
}


@media screen and (min-width: 768px){
    section:not(#our-services-section) {
        padding: 4.5em 0;
    }
}



.mybtn{
    background-color: #01AEF0;
   
    border-radius: 20px;
    color: #fff;
    display: block;
    width: 130px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    margin: 10px 0;
    transition: all .3s ease-in-out;
}

.mybtn-green{
    background-color: #3dcd4b;
}

.mybtn:focus{
    outline: none;
}

.mybtn:hover{
    text-decoration: none;
    color: #fff;
    opacity: .8;
}



/*///////////////////////////////////////////////////////////////////////////////////////////
                                    About us section
//////////////////////////////////////////////////////////////////////////////////////////*/


#about-us-section .container .row .col-md-6 p{
    padding: 10px 0;
    color: #908f8f;
}


.img-effect{
    width: 350px;
    height: 500px;
    border: 10px solid #FF7300;
    background-color: #fff;
    position: relative;
    float: left;
    margin-top: 5%;
}


.img-effect:before{
    content: url(../img/aboutus.png);
    display: block;
/*    left: -60%;*/
    left: 20%;
    top: -15%;
    position: absolute;
    width: 69%;
}



/*///////////////////////////////////////////////////////////////////////////////////////////
                                    Our Services section
//////////////////////////////////////////////////////////////////////////////////////////*/


#our-services-section{
    background-color: #f2f2f2;
    padding: 30px 0;
}



#our-services-section .container .row:nth-child(2){
    padding-top: 40px;
}


#our-services-section .container .col-md-4 .row .col-xs-3 > i{
    font-size: 4em;
}

#our-services-section .container .col-md-4 .row .col-xs-9 > h3{
    margin: 10px 0;

}

#our-services-section .container .col-md-4 .row .col-xs-9 > p{
    font-size: .9em;
    margin: 0;

}




/*///////////////////////////////////////////////////////////////////////////////////////////
                                    Our Product section
//////////////////////////////////////////////////////////////////////////////////////////*/
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    color: #0E136F;
   background-color: transparent;
    border-bottom: 1px solid #0E136F;
    border-radius: 0;
}
.v-divider{
    border-right: 1px solid #ddd;
    height: 200px;
    max-height: 100%;
}
.m-t-40{
    margin-top: 40px;
}







/*///////////////////////////////////////////////////////////////////////////////////////////
                                    Our News section
//////////////////////////////////////////////////////////////////////////////////////////*/

#news-section .container .row .col-md-6 p{
    padding: 10px 0;
    color: #908f8f;
}


/*///////////////////////////////////////////////////////////////////////////////////////////
                                    Our Clients section
//////////////////////////////////////////////////////////////////////////////////////////*/

#our-clients-section{
    background-color: #f6f6f6;
}

.b-r-3{
    border-right: 3px solid #ddd;
}



/*///////////////////////////////////////////////////////////////////////////////////////////
                                    Testimonials section
//////////////////////////////////////////////////////////////////////////////////////////*/

#testimonials-section{
    background-color: #f2f2f2;
    padding: 2em 0 4.5em!important;
}


/*///////////////////////////////////////////////////////////////////////////////////////////
                                    Testimonials section
//////////////////////////////////////////////////////////////////////////////////////////*/

#social-section{
    background-color: #fff;
    padding: 2em 0 4.5em!important;
}

/*#testimonials-section .container .row .col-xs-12 p{*/
    /*padding: 2em 0;*/
/*}*/

.partner-text{

}

/*///////////////////////////////////////////////////////////////////////////////////////////
                                    our team section
//////////////////////////////////////////////////////////////////////////////////////////*/

#our-team-section .container .row .col-xs-12 .title{
    margin-bottom: 3em;
    margin-left: .5em;
}

#our-team-section .container .row .col-md-6 > .social-list li{
    list-style: none;
    display: inline-block;
    margin: 15px 10px;

}



/*///////////////////////////////////////////////////////////////////////////////////////////
                                    Footer section
//////////////////////////////////////////////////////////////////////////////////////////*/

#footer-section{
    background-color: #021b27;
    padding: 0!important;
}


#footer-section .container .col-md-5 form{
/*    border: 7px solid #fff;*/
    border: 7px solid #ff7300;
    padding: 20px;

}


/*#footer-section .footer-bg .container .row:nth-child{*/
    /*padding: 4.5em;*/

/*}*/

#footer-section .container .col-md-5 form h3{
    color: #3dcd4b;
    margin: 0 0 15px 0;
}


#footer-section .container .col-md-5 form > .form-group > input,textarea{
    border: none;
    border-bottom: 2px solid #3e515a;
    background: transparent;
    width: 100%;
    padding: 10px;
    color: #fff;
}


#footer-section .container .col-md-5 form > .form-group > button{
    border: none;

}


#footer-section .container .col-md-7 p > a{
    color: #999;
    margin-right: 20px;

}


#footer-section .footer-bg {
    background: url('../img/footer-bg.png') center no-repeat;
    width: 100%;
    background-position: 100% -2px;

}

#footer-section .container .col-md-6 > .footer-addr > li{
    list-style: none;
    color: #eee;
    margin: 10px 0;

}

#footer-section .container .col-md-6 > .footer-addr > li > i{
    font-size: 1.5em;

}

#footer-section .container  .footer-social-icon{
    display: -webkit-flex;
    -webkit-justify-content: center;
        justify-content: center;
    -webkit-align-items: center;
        align-items: center;
    height: 200px;
    max-height: 100%;
}




#footer-section .container .col-md-6  .social-list li {
    list-style: none;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.32);
    float: right;
    text-align: center;

}


#footer-section .container .col-md-6  .social-list li > a{
    color: #fff;
    font-size: 1.3em;

}



.row-spacing{
    padding: 4.5em 0;
}


.myactive{
    color: #3dcd4b!important;
}


/*//////////////////////////////////////////////////////////////////////////
                                Bootstrap Carousel
/////////////////////////////////////////////////////////////////////////*/


@media screen and (min-width: 768px){
    .carousel-indicators {
        bottom: -60px;
    }
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #000;
    border-radius: 10px;
}

.carousel-indicators .active {
    width: 15px;
    height: 15px;
    margin: 0;
    background-color: #3ecd4c;
    border: 1px solid #000;
}


.owl-theme .owl-controls .owl-buttons div{
    display: none;
}


/*media query for tablet -geet*/

@media screen and (max-width: 768px){
    .img-effect {
        float: none;
        margin-top: 10%;
        margin-bottom: 5%;
        min-width: 200px;
        min-height: 200px;
    }
    .img-effect:before {
        content: url(../img/aboutus.png);
        display: block;
        left: 0;
        top: -15%;
        position: initial;
        width: 100%;
    }

    #our-team-section .container .row .col-xs-12 .title {
        margin-bottom: 1em;
    }

    .xs-center{
        margin:0 auto;
    }

    .owl-carousel div.owl--text {
        position: absolute;
        bottom: 0;
        /* left: 2em; */
        width: 100%;
        height: 21em;
        padding: .9em 1em;
        background: rgba(25, 46, 58, 0.47);
        border-radius: 4px;
        color: #fff;
    }

    .top-header {

       width: 100%;}

    .custom-nav {
        top: 10.5%;
    }
.content-center-xs{
    text-align: center;
}
    #footer-section .footer-bg {
       background-image:none ;
    }
}


@media screen and (max-width: 400px){
    .navbar-default .navbar-nav>li>a {
        font-size: 17px;
        min-height: 50px;
        line-height: 50px;
/*        color: #3DCD4B;*/
        color: #00188f;
    }
    .carousel-indicators {
        position: absolute;
        bottom: -46px;
    }

    .custom-nav {
        background-color: rgba(255, 255, 255, 0.88);
    }

    .text-center-xs{
        text-align: center;
    }
}


.f-15{
    font-size: 15px;
}

.color-db{
    color: #00188f !important;
}


.m-b-50{
    margin-bottom: 50px !important;
}


.m-b-20{
    margin-bottom: 1em;
}